*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(234.78deg 17.56% 25.69%);    
}

/* style button */

#btn:hover{
    background-image: linear-gradient(to right, hsl(349.12deg 100% 66.47%), #fe6544);
}
#btn_2:hover{
    background-image: linear-gradient(to right, hsl(349.12deg 100% 66.47%), #fe6544);
}
/*style div img */
.bg-img{
    background-image: url('../assets/images/illustration-sign-up-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*font8*/
.f{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: hsl(240deg 7.94% 24.71%);
    width: 500px;
}

@media screen and (max-width: 768px) {
    #form{
        display: flex;
        flex-direction: column-reverse ;
        height: 800px !important;
        
    }
    .bg-img{
        background-image: url('../assets/images/illustration-sign-up-mobile.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 500px;
    }
    #img{
        margin: auto!important;
    }
   
    
}